body {
  font-family: "Poppins", sans-serif; /* Set the font family for the entire body */
}

main {
  min-height: 100vh; /* Set minimum height to fill the viewport */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  background-color: #dadfe8; /* Light gray background color */
}

.pokedex {
  display: flex; /* Use flexbox for layout */
  gap: 30px; /* Set gap between child elements */
  padding: 30px 0; /* Set vertical padding */
}
